/* * {
    margin: 0;
    padding: 0%;
    box-sizing: 0;
}
 */

.nav-bar {
    background-color: brown;
}

.fondo-ppal {
    height: 100vh;
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    align-items:center;
    color: rgb(0, 0, 0);
    padding: 6rem;
    margin-bottom: 3rem;
}
.experiencia {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    border-style: double;
    border-color: rgb(0, 0, 0);
}

/* 
.menu {
    list-style-type: none;
    display: flex;
    /* flex-direction: row; 
flex-wrap: wrap;
justify-content: space-evenly;
text-align: center;
gap: 1rem;
padding: 1rem;

}

*/ 
.analisis-argentina {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}


.grilla {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;

}

.imagen {
    grid-column: 1/3;
    grid-row: 1/4;
}

.texto {
    grid-column: 2/3;
    grid-row: 2/4;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    align-self: center;
}

.foto {
    border-style: groove;
}

@media (max-width: 480px) {
    .grilla {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}